body {
    text-align: center;
}

h1 {
    font-size: 3.5em;
}

input {
    padding: 8px;
    outline: none;
    border: 2px solid #027018;
}

button {
    padding: 10px;
    background-color: #90ff71;
    outline: none;
    border: none;
    border-radius: 4px;
    transition-duration: 0.3s;
}

button:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px 2px #58bc4b;
}